# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.bun/

# Build output
.next/
out/
build/
dist/

# Test output
coverage/

# Deployment
.vercel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.pem
